---
import { BarData } from "./BarData";
---

<div class="flex h-screen w-full items-center justify-center">
  <div class="card bg-base-300 rounded-box grid h-60 grow place-items-center">
    <BarData client:load />
  </div>
  <div class="divider divider-horizontal">OR</div>
  <div class="card bg-base-300 rounded-box grid h-60 grow place-items-center">
    <BarData client:load />
  </div>
</div>
