---
import { BarData } from "./charts/BarData";
import { ServerStatus } from "./ServerStatus";
import { CommonCloudinaryImage } from "../services/cloudinary";
import { DevUploadForm } from "./DevUploadForm";
---

<div>

  <div class="flex h-screen w-full items-center justify-center">
    <div class="card bg-base-300 rounded-box grid h-96 grow place-items-center">
      <BarData client:load dataset={[214, 653, 124, 543, 136, 754, 124]} />
    </div>
    <div class="divider divider-horizontal">OR</div>
    <div class="card bg-base-300 rounded-box grid h-96 grow place-items-center">
      <BarData client:load dataset={[214, 653, 124, 543, 136, 754, 124]} />
    </div>
  </div>
</div>
