---
import { TextAlignStart, CircleUserRound } from "lucide-react";
import { LogoutButton } from "@/components/buttons/LogoutButton";
import { ToggleThemeButton } from "@/components/buttons/ToggleThemeButton";
---

<div class="navbar">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <TextAlignStart className="h-6 w-6" />
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content rounded-box z-1 mt-3 w-52 p-2"
      >
        <li><a href="/">Home</a></li>
        <li><a href="/generalexpenditure">General Expenditure Tables</a></li>
        <li><a href="/expensesummary">Expense Summary Report</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl">LHNHS</a>
  </div>
  <div class="navbar-end">
    <ToggleThemeButton client:load />
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <CircleUserRound className="h-6 w-6" />
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content rounded-box z-1 mt-3 w-52 p-2"
      >
        <li><a href="/">Profile</a></li>
        <li><a><LogoutButton client:load /></a></li>
      </ul>
    </div>
  </div>
</div>
