---
const { arCode } = Astro.props;
console.log(arCode);
import AuthenticatedLayout from "@/layouts/AuthenticatedLayout.astro";
---

<AuthenticatedLayout>
  <div>Ar code Thingy with ar code</div>
</AuthenticatedLayout>
