# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.staging
.env.production
.dev.vars


#drizzle migration config files
drizzle.local.config.ts
drizzle.staging.config.ts
drizzle.production.config.ts


# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
