---
import "../styles/global.css";
import Navbar from "@/components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/logo.png" />
    <title>LHNHS Login/Signup</title>
  </head>
  <body>
    <Navbar />
    <div class="flex h-screen items-center justify-center">
      <slot />
    </div>
  </body>
</html>
